Flask==1.1.2
joblib==0.15.1
jsonpatch==1.16
jsonpointer==1.10
jsonschema==2.6.0
matplotlib==3.2.1
numpy==1.18.4
pandas==1.0.4
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycrypto==2.6.1
pyOpenSSL==17.5.0
pyparsing==2.4.7
pyserial==3.4
requests==2.18.4
requests-unixsocket==0.1.5
scikit-learn==0.23.1
scipy==1.4.1
seaborn==0.10.1
six==1.15.0
sklearn==0.0
ssh-import-id==5.7
systemd-python==234
threadpoolctl==2.1.0
